---
layout: layouts/main.njk
gatech:
  main: https://gatech.edu/
  hackgt:
    main: https://hexlabs.org
    horizons: https://horizons.hack.gt/
    catalyst: https://catalyst.hack.gt
  dtyped:
    main: https://dtyped.netlify.app
title: lexically::scoped | Elton Pinto
description: My personal website and blog!
---

<div class="splash">
    <h1 class="splash__title">Elton Pinto</h1>
</div>
<div class="content">
      <p>
          Sutter Hill Ventures Codepoint Fellow-In-Residence
            <small class="muted">
              with
              <a href="https://www.observeinc.com/">Observe</a> and
              <a href="https://www.luminarycloud.com/">Luminary Cloud</a>
            </small>
          <br>
          Incoming PhD student at the University of Pennsylvania (Fall'24)
          <br>

          <small><a href="/assets/cv.pdf">CV</a></small>
          <small><a href="/assets/resume.pdf">Resume</a></small>
      </p>

    <section>
        <h3>Research</h3>
        <p>I'm interested in tackling problems at the intersection between programming languages and systems.</p>
        <p>
          During my master's, I worked with
            <a href="https://www.microsoft.com/en-us/research/people/daan/">Daan Leijen</a>
          on prototyping an implementation of
            <a href="https://www.microsoft.com/en-us/research/publication/perceus-garbage-free-reference-counting-with-reuse/">Perceus memory management</a> for OCaml.
        </p>
        <p>
          During my undergrad I was part of <a
          href="http://prod.tinker.cc.gatech.edu/" target="_blank">TINKER
          lab</a> where I was advised by <a
          href="https://www.scs.gatech.edu/people/thomas-conte"
          target="_blank">Prof. Thomas Conte</a> and <a
          href="https://www.cc.gatech.edu/people/jeffrey-young"
          target="_blank">Dr. Jeff Young</a>. While there, I wrote a
          space-efficient implementation of the quantum verification of matrix
          products (QVMP) algorithm.
        </p>

      </section>

      <section id="publications">
        <h3> Publications </h3>
        <ul>
            <li>
                <b><a href="https://www.microsoft.com/en-us/research/uploads/prod/2023/09/ocamlrc.pdf">
                  Exploring Perceus for OCaml
                </a></b>
                <br>
	            Elton Pinto, Daan Leijen
                <br>
	            Higher-order, Typed, Inferred, Strict: ML Family Workshop, ICFP'23
                <br>
            </li>

            <li>
                <b><a href="/assets/work/mthesis-perceus-for-ocaml.pdf">
                  Perceus for OCaml
                </a></b>
                <br>
	            Elton Pinto
                <br>
	            M.S. Thesis. Georgia Institute of Technology, May 2023.
                <br>
            </li>
            <li>
                <b>
                  Neko: A quantum map-filter-reduce programming language
                </b>
                <br>
                Elton Pinto
                <br>
                Student Research Competition (SRC). POPL'23
                <br>
                <a href="/assets/work/neko-popl23src.pdf">abstract</a>
                <a href="/assets/work/neko-popl23src-poster.pdf">poster</a>
            </li>
            <li>
                <b><a href="https://arxiv.org/abs/2208.09914">
                  An Implementation of the Quantum Verification of Matrix Products Algorithm
                </a></b>
                <br>
	            Elton Pinto, Jeffrey Young, Thomas Conte, Austin Adams, Eugene Dumitrescu
                <br>
                4th International Workshop on Quantum Resource Estimation (QRE). ISCA'22
            </li>
            <li>
                <b><a href="https://arxiv.org/abs/2208.09914">
                  An Implementation of the Quantum Verification of Matrix Products Algorithm
                </a></b>
                <br>
	            Elton Pinto
                <br>
	            B.S. Thesis. Georgia Institute of Technology, May 2022.
                <br>
                <em>Third place (Explore category), UROP Symposium 2022</em>
            </li>
            <li>
	            <b><a href="https://doi.org/10.1109/ICRC53822.2021.00014">
                  Enabling a Programming Environment for an Experimental Ion Trap Quantum Testbed
                </a></b>
                <br>
	            Austin Adams, Elton Pinto, Jeffrey Young, Creston Herold, Eugene Dumitrescu, Thomas Conte
                <br>
                2021 International Conference on Rebooting Computing (ICRC'21)
            </li>
        </ul>
    </section>

    <section>
        <h3>Work Experience</h3>
        <p>
        I've interned on the Privacy Language Experience (PLeX) team and the PyTorch Dev Infra team at Meta, and the Innovation Lab at NCR.
        </p>
    </section>

    <section>

        <h3>Involvements</h3>

        <ul>
            <li>
                <a href="{{ gatech.dtyped.main }}" target="_blank">dependently-typed</a>:
                Founder and President
                <small class="muted">(August 2021 to May 2023)</small>
            </li>
            <li>
                <a href="{{ gatech.hackgt.main }}" target="_blank">HexLabs</a> (formerly HackGT):
                <ul>
                    <li>Co-director
                        <small class="muted">(November 2020 to November 2021)</small>
                    </li>
                    <li>
                        <a href="{{ gatech.hackgt.horizons }}" target="_blank">Horizons</a> event-lead
                        <small class="muted">(January 2020 to March 2020)</small>
                    </li>
                    <li>
                        <a href="{{ gatech.hackgt.catalyst }}" target="_blank">Catalyst</a> mentor
                        <small class="muted">(March 2019)</small>
                    </li>
                    <li>Tech team member
                        <small class="muted">(December 2018 to November 2021)</small>
                    </li>
                </ul>
            </li>
            <li> Teaching assistantship:
                 <ul>
                    <li>CS 3210: Design of Operating Systems <small class="muted">(Spring 2022 [Head TA], Fall 2021, Spring 2021)</small></li>
                    <li>CS 2110: Computer Organization and Programming <small class="muted">(Fall 2020, Spring 2020)</small></li>
                    <li>CS 1301: Intro to Computing <small class="muted">(Fall 2019)</small></li>
                 </ul>
            </li>
        </ul>
    </section>

    <section>
        <h3> Talks </h3>
        <ul>
            {%- for talk in talks | reverse -%}
                <li>
                    {{ talk.name }} <small class="muted">{{ talk.date | toDateObj | readableDate }}</small>
                    <br>
                    <small>
                         {{ talk.event }}<br>
                        {% if talk.slides %}
                            <a href="{{ talk.slides }}"> slides</a>
                        {% endif %}
                        {% if talk.slides and talk.video %}
                            |
                        {% endif %}
                        {% if talk.video %}
                            <a href="{{ talk.video }}"> video</a>
                        {% endif %}
                    </small>
                </li>
            {%- endfor -%}
        </ul>
    </section>

</div>
