---
layout: layouts/main.njk
title: Creation | blog
---

<div class="content">
    <h2>Creation</h2>
    <ul>
        {%- for post in collections.posts | reverse -%}
            <li>
                <a href="{{ post.url }}">{{ post.data.title | safe }}</a>
                <small class="muted">{{ post.data.date | readableDate }}</small>
            </li>
        {%- endfor -%}
    </ul>

<!--
    <div>
        {%- for post in collections.posts | reverse -%}
        <div class="post">
            <a href={{ post.url }} style="text-decoration: none;">
                <article class="post__title">{{ post.data.title | safe }}</article>
            </a>
            <time class="post__date" datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate }}</time>
            <p>{{ post.data.excerpt | safe }}</p>
            <a href="{{ post.url }}"> read more </a>
        </div>
        <hr></hr>
        {%- endfor -%}
    </div>
</div>

-->
